<ion-header>
  <ion-toolbar>
    <section id="zona_superior">
      <div id="cont_primero">
        <figure id="logo_sena">
          <ion-img id="imagen" src="../../../../assets/img/imagenes/sena.png"></ion-img>
        </figure>
      </div>

      <div id="cont_segundo">
        <div class="Marca">
          <h1>SEPA/SENA-CAB</h1>
        </div>

        <div class="Marca">
          <p>Seguimiento de Etapa Productiva de Aprendices</p>
        </div>
      </div>
    </section>

  </ion-toolbar>
</ion-header>